h1{
    color: red;
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
p{;
    text-align: center;
    border: thin gray solid;
    margin: 1em 4em;
    padding: 0.5em;
    background-color: #FFFF99; 
    font-size: 12pt;
}
h3{
    color: blueviolet;
    text-align: right;
    margin: 1em 4em;
    padding:1em;
    background-color: turquoise;
    font-size: large;
}
